{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li><a id="loginas-link" href="#"><i class="icon-user icon-alpha75"></i>{% trans "Log in as user" %}</a></li>

{% endblock %}

{% block footer %}
{{ block.super }}
    <form method="post" id="loginas-form" action="{% url 'loginas-user-login' object_id %}" style="display: none">
        {% csrf_token %}
    </form>
    <script>
	django.jQuery(function() {
        django.jQuery('#loginas-form').on('submit', function(event) {
               event.preventDefault();
               django.jQuery.ajax({
                   url: django.jQuery(this).attr('action'),
                   type: django.jQuery(this).attr('method'),
                   data: django.jQuery(this).serialize(),
                   success: function(response, textStatus, jqXHR) {
                        localStorage.setItem('tsUserToken', 'loginAs');
	                    window.location.href = '/account';
                   },
                   error: function(jqXHR, textStatus, errorThrown) {
                        console.log("Error: " + errorThrown);
                        window.location.href = '/admin/';
                   }
           });
        });
        django.jQuery('#loginas-link').click(function() {
            django.jQuery('#loginas-form').submit();
            return false;
          });
        });
    </script>
{% endblock %}